body {
    color: #000080;
}
#moi{
    width: 10%;
    border-radius: 50%;

}
h1 {
    background-color: rgb(154, 209, 71);
    font-size: 40px;
    padding-top: 0.2em;
    padding-right: 3em;
    padding-bottom: 0.2em;
    padding-left: 3em;
    font-style: oblique;
  
    
    
}
h2 {
    font-weight: bolder;
    font-size: 24px;
    color: green;
    border-bottom-style: solid;

    
}

div {
    
    padding-left: 5%;
    padding-right: 15%;
    margin-bottom: 2%;
    border-radius: 50px;
    

}

p {
    font-family: helvetica;
}

#monID {
    color: greenyellow;
}

pre {
    background-color: rgb(163, 176, 190);
    padding-top: 1%;
    padding-bottom: 0.7%;
    width:30%;

}





span{
    font-weight: bold;


}

.drapeau{
    width: 2%;
    
}

.oui{
    background-color: rgb(194, 104, 45);
    border:6px dotted black;
    

}

.non{
    background-color: rgb(154, 209, 71);
    border:6px solid black;
}
